<h1>Настройки на SMTP </h1>

<%= form_with(model: @smtp_settings, url: smtp_setting_path(Current.user), method: :patch) do |f| %>
  <div>
    <%= f.label 'Парола' %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit 'Запази' %>
  </div>
<% end %>