<h1>Регистрирайте се</h1>

<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<a class="btn btn-primary" href="<%= user_sign_up_path %>" role="button">Регистрация като орган за технически надзор</a>
<a class="btn btn-primary" href="<%= company_sign_up_path %>" role="button">Регистрация като ползвател</a>