<h1>Документация за възложители</h1>

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Информация за възложителя
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">В тази страница може да откриете пълната информация за Вашата фирма като възложител.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Органи за надзор
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">В тази секция ще можете да видите в табличен вид всички органи за технически надзор, които работят за Вас. В дясната част на таблицата ще има бутони, с които ще можете да проверите съоръженията Ви, върху които даден орган осъществява надзор, както и да премахнете орган, с който прекратявате своя договор.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Напиши имейл
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">За да изпратите имейл е необходимо да имате правилни SMTP настройки. Повече информация за това какви трябва да бъдат те може да откриете в долната секция.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Настройка на SMTP
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          За да може да изпратите имейл трябва да имате правилна конфигурация на SMTP. Системата използва SMTP сървъра на Google, затова ви трябва следните неща:
          <br>
          <ol>
            <li>Регистрацията Ви трябва да е направена с имейл на Google</li>
            <li>Да имате активирано двустъпково удостоверяване в своя Google профил</li>
            <li>Да имате създадена парола за приложения в своя Google профил</li>
          </ol>
          Стъпка 2 се конфигурира след като в горния десен ъгъл кликнете на своя профил и след това изберете "Управление на профила Ви в Google". В страницата, която Ви се отвори, трябва да изберете в левия списък "Сигурност" и след това ще Ви излезе опцията за настройка на двустъпково удостоверяване.
          <br>
          <br>
          Стъпка 3 се конфигурира като навигирате до настройката за двустъпково удостоверяване в Стъпка 2. След това трябва да скролнете до най-долната част на страницата. Там ще излезе опция за създаване на "Пароли за приложения". Достатъчно е да създадете една, след което да се върнете в системата, да я поставите в полето на страницата "Настройка на SMTP" и да кликнете на бутона "Запази". 
          <br>
          <br>
          По този начин профилът Ви ще се оторизира при опит да изпратите имейл. В противен случай при изпращането на имейл ще излезе съобщение ако има грешка при SMTP настройките Ви.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Смяна на парола
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">За да смените паролата си трябва да кликнете в горния десен ъгъл на своя имейл над бутона "Изход". Това ще Ви отведе до страница, в която ще можете да въведете своята нова парола и да я потвърдите. След това е достатъчно да кликнете бутона "Промяна".
      </div>
    </div>
  </div>
</div>