<h1>Документация</h1>
<p>Терминологията, съответстваща на полетата от дадените БД, е изложена тук.</p>
<table>
	<tr>
		<td>
			Поле в базата cranes
		</td>
		<td>
			Поле в системата
		</td>
	</tr>
	<tr>
		<td>
			status
		</td>
		<td>
			Статус
		</td>
	</tr>
	<tr>
		<td>
			registration_date
		</td>
		<td>
			Дата на регистрация
		</td>
	</tr>
	<tr>
		<td>
			factory_number
		</td>
		<td>
			Заводски номер
		</td>
	</tr>
</ol>