<h1>Добре дошли в системата!</h1>
<% unless flash[:notice].nil? %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>
<% unless flash[:alert].nil? %>
	<div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
<% end %>