<br>

<h1>Добре дошли в системата за администриране на данни за техническия надзор на повдигателни съоръжения!</h1>

<br>

<% unless flash[:notice].nil? %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<% unless flash[:alert].nil? %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>