<h1>Промяна на повдигателно съоръжение</h1>

<%= render "form", crane: @crane %>

<br>

<div>
  <%= link_to "Покажи повдигателното съоръжение", @crane %> |
  <%= link_to "Обратно към повдигателните съоръжения", cranes_path %>
</div>
