<h1>Промяна на повдигателно съоръжение</h1>

<%= render "form", crane: @crane %>

<br>

<div>
  <%= link_to "Покажи повдигателното съоръжение", @crane, class: "btn btn-dark" %>
  <%= link_to "Обратно към повдигателните съоръжения", cranes_path, class: "btn btn-dark" %>
</div>
